.product-list-div {
  padding: 0 10%;
  margin-top: 40px;
  margin-bottom: -414px;
  font-family: Arial, Helvetica, sans-serif;
}

.product-list-div > .table {
  width: 75%;
  border-collapse: collapse;
  margin-top: 30px;
  margin-left: 5%;
}

.table th {
  background-color: rgb(63, 164, 204);
  color: white;
  border: none;
  font-weight: 600;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: center;
  font-size: 14px;
  border: 1px solid rgb(63, 164, 204);
}

.cart {
  border: "none";
  font-weight: bold;
}

.edit {
  cursor: pointer;
  margin-right: 10px;
}

.delete {
  cursor: pointer;
  margin-left: 10px;
}

.search_box {
  border: 1px solid rgb(63, 164, 204);
  font-size: 16px;
  padding: 8px 12px;
  width: 40%;
  margin-left: 20%;
  margin-top: 30px;
  outline: none;
}

.search_box:focus {
  border: 1px solid rgb(25, 9, 238);
  font-weight: bold;
}

@media (max-width: 780px) {
  .search_box {
    width: 67%;
    margin-left: 14%;
  }

  .product-list-div > .table > .thead {
    display: none;
  }

  .cart {
    width: 50%;
  }

  .table tr {
    margin-bottom: 15px;
    display: block;
    width: 120%;
  }

  .table td {
    text-align: right;
    position: relative;
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 42%;
    padding-left: 15px;
    padding-top: 3px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(89, 131, 148);
    color: white;
  }
}

@media (max-width: 580px) {
  .table tr {
    width: 157%;
    margin-left: -48px;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 30%;
    padding-left: 5px;
    padding-top: 3px;
    font-size: 18px;
  }
}
