.Login {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 10%;
  left: 25%;
  display: block;
}

.Login > .icon_login {
  font-size: 70px;
  margin-left: 80%;
  color: rgb(19, 128, 172);
}

.Login > input {
  display: block;
  margin-top: 10%;
  margin-bottom: 8%;
  margin-left: 18%;
  outline: none;
  border: 1.5px solid skyblue;
  padding: 8px;
  font-size: 13px;
  width: 150%;
}

.Login > input:focus {
  border-color: rgb(19, 128, 172);
}

.log_btn {
  background-color: skyblue;
  color: black;
  box-sizing: border-box;
  padding: 5px 27px;
  cursor: pointer;
  border: 1px solid black;
  outline: none;
  position: absolute;
  top: 310px;
  left: 122%;
  display: flex;
}

.log_btn:hover {
  background-color: rgb(229, 232, 233);
  color: rgb(9, 108, 138);
  border: 2px solid skyblue;
}

.Visible_icon {
  position: absolute;
  left: 405px;
  bottom: 125px;
  color: rgb(11, 129, 184);
}

@media (max-width: 670px) {
  .Login {
    left: 10%;
    display: block;
  }

  .Login > .icon_login {
    margin-left:75%;
  }

  .Login > input {
    margin-top: 16%;
    margin-bottom: 20px;
    margin-left: 20%;
    padding: 8px;
    font-size: 13px;
    width: 150%;
  }

  .log_btn {
    position: relative;
    top: -20px;
    left: 130%;
  }

  .Visible_icon {
    position: absolute;
    left: 405px;
    bottom: 187px;
  }
}

@media (max-width: 540px) {
  .Login {
    left: 5%;
  }

  .Login > .icon_login {
    margin-left: 55%;
  }

  .Login > input {
    margin-left: 5%;
    width: 135%;
  }

  .log_btn {
    position: relative;
    top: -20px;
    left: 100%;
  }

  .Visible_icon {
    position: absolute;
    left: 335px;
    bottom: 192px;
  }
}

@media (max-width: 440px) {
  .Login {
    left: 6%;
  }

  .Login > .icon_login {
    margin-left: 40%;
  }

  .Login > input {
    margin-left: 4%;
    width: 100%;
  }

  .log_btn {
    position: relative;
    top: -20px;
    left: 75%;
  }

  .Visible_icon {
    position: absolute;
    left: 235px;
    bottom:192px;
  }
}
